@page
@model BD_of_the_Realtor_Firm.Pages.Servis_.DeleteModel

@{
    ViewData["Title"] = "Удалить информацию";
}

<h1>Удалить информацию об этом виде услуг</h1>

<div>
    <h4>Вид услуг</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servis.Servis_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servis.Servis_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servis.Servis_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servis.Servis_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servis.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servis.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servis.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servis.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Servis.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к таблице</a>
    </form>
</div>
