@page
@model BD_of_the_Realtor_Firm.Pages.Apartments_.IndexModel

@{
    ViewData["Title"] = "Виды квартир";
}

<h1>Список видов квартир</h1>

<p>
    <a asp-page="Create">Добавить новый вид</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartments[0].Type_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartments[0].Type_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartments[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apartments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробная информация</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
